# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/
